* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html,
body {
  font-size: 100%;
  font-family: $body-copy;
  line-height: 2;
  color: $dark-color;
  background-color: $page-background-color;
}

img {
  max-width: 100%;
}

hr {
  border: none;
  background-color: #ccc;
  height: 1px;
  width: 80%;
  max-width: 700px;
  margin: $large-margin * 1.5 auto;
}

::selection {
  background-color: $dark-color;
  color: #fff;
}

@media #{$medium} {
  html,
  body {
    font-size: 1.125rem;
  }
}
