* {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html,
body {
  font-size: 100%;
  font-family: $body-copy;
  line-height: 2;
  color: $dark-color;
  background-color: $page-background-color;
}

img {
  max-width: 100%;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
  margin: $large-margin auto;
}

::selection {
  background-color: $dark-color;
  color: #fff;
}

table {
  margin-top: $medium-margin;
  width: 100%;

  th {
    background-color: transparentize($color: $primary-color, $amount: 0.9)
  }


  th, td {
    line-height: 1.2;
    text-align: left;
    padding: 0.5rem;

  }

  .row--success td {
    background-color: transparentize($color: $secondary-color, $amount: 0.6);
  }
}

dt {
  font-weight: 700;
}

@media #{$medium} {
  html,
  body {
    font-size: 1.125rem;
  }
}
