h1,
h2,
h3 {
  font-family: $heading-copy;
  font-weight: 700;
  text-align: center;
  line-height: 1.3;
}

h1,
h2,
h3,
h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

.subheading {
  font-family: $body-copy;
  font-size: 100%;
  font-style: normal;
  color: $primary-color;
  text-align: left;
  margin-top: $large-margin;
  @include uppercase;
}

.subheading:first-child {
  margin-top: 0;
}

a {
  text-decoration: none;
  font-weight: 700;
  color: $dark-color;
  transition: 0.3s all ease;

  &:hover,
  &:focus {
    color: $primary-color;
  }
}

p a {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.001) 55%,
    transparentize($secondary-color, 0.6) 55%
  );

  &:hover,
  &:active,
  &:focus {
    color: $dark-color;
    background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.001) 55%,
      transparentize($primary-color, 0.8) 55%
    );
  }
}

blockquote {
  margin: 0;
}

code,
pre {
  background-color: lighten(#d0a6cc, 20%);
}

@media (min-width: 34em) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.75rem;
  }
}
