$small: "(min-width: 31.25em)";
$medium: "(min-width: 48em)";
$large: "(min-width: 64em)";
$xlarge: "(min-width: 87.5em)";

$medium-margin: 1.5rem;
$large-margin: 3rem;

@lost gutter 1.5rem;

$dark-color: #2c2b4b;
$primary-color: #a75293;
$secondary-color: #9ddacb;
$tertiary-color: #9c7a9d;
$light-color: #f8dcb4;
$offwhite: #fafafa;

$page-background-color: $offwhite;

$body-copy: "Lato", Helvetica, Arial, san-serif;
$heading-copy: "Playfair Display", Georgia, serif;
