---
body: illustration
permalink: /illustration/
img:
  - link: /illustration/beyonce-solange.png
    thumb: /illustration/beyonce-solange-s.png
    alt: Beyonce and Solange. Beyonce is depicted as a sun goddess (Grammy's 2017 outfit) and Solange is depicted as a moon goddess (as seen performing Cranes in the Sky on SNL)
    title: Sisters
  - link: /illustration/florina-suicune.png
    thumb: /illustration/florina-suicune-s.png
    alt: Florina from Fire Emblem Blazing Sword and the Pokemon Suicune
  - link: /illustration/kassandra.png
    thumb: /illustration/kassandra-s.png
    alt: Kassandra from Assassin's Creed Odyssey in the Master's Artemis set.
    title: Daughter of Artemis
  - link: /illustration/gallery-titania.png
    thumb: /illustration/gallery-titania-s.png
    alt: Titania from Fire Emblem Radiant Dawn as Dante Gabriel Rosetti's La Ghirlandata
    title:
  - link: /illustration/ismairev2.png
    thumb: /illustration/ismairev2-s.png
    alt: Queen Ismaire from Fire Emblem Sacred Stones
  - link: /illustration/korrasami-merged.png
    thumb: /illustration/korrasami-merged-s.png
    alt: Korra and Asami from Legend of Korra in the Spirit World
  - link: /illustration/thesisfull-l.png
    thumb:
    alt: Two women in suits, one has a half bitten peach and a torn sleeve.
    title: History Repeats Itself
  - link: /illustration/thesis4-l.png
    thumb: /illustration/thesis4-s.png
    alt: Three women holding various papers/writing instruments, facing leftwards.
    title: Ge Ming Xing
---

<main class="gallery no-hero" id="main" tabindex="-1">
  {% for img in page.img %}
  <a
    data-dialog-trigger
    href="{{ img.link }}"
    data-title="{{ img.title }}"
    data-alt="{{ img.alt }}"
  >
    <img
      src="{% if img.thumb != null %}{{ img.thumb }}{% else %}{{
        img.link
      }}{% endif %}"
      alt="{{ img.alt }}"
    />
  </a>
  {% endfor %}
</main>

<div class="dialog" id="image-modal">
  <dialog class="dialog__window" aria-labelledby="dialog-title">
    <button
      class="dialog__close"
      type="button"
      data-a11y-dialog-hide
      aria-label="Close image viewer"
    >
      &times;
    </button>

    <div class="dialog__content">
      <h1 class="dialog__title" id="dialog-title">Dialog Title</h1>
      <div class="dialog__image-wrapper">
        <img class="dialog__image" />
      </div>
    </div>
  </dialog>
</div>
