---
body: illustration
permalink: /illustration/
img:
  - link: /illustration/thesisfull-l.png
    thumb:
    title: History Repeats Itself
  - link: /illustration/donnakoryy-l.png
    thumb:
    title:
  - link: /illustration/jubess-l.png
    title:
  - link: /illustration/solange-l.png
    title: Cranes in the Sky
  - link: /illustration/storm-l.png
    title:
  - link: /illustration/x23-l.png
    title:
  - link: /illustration/thesis4-l.png
    thumb: /illustration/thesis4-s.png
    title: Ge Ming Xing
---

<main class="gallery no-hero" id="main" tabindex="-1">
  {% for img in page.img %}
  <a
    data-dialog-trigger
    href="{{ img.link }}"
    data-title="{{ img.title }}"
    data-alt="{{ img.alt }}"
  >
    <img
      src="{% if img.thumb != null %}{{ img.thumb }}{% else %}{{
        img.link
      }}{% endif %}"
      alt="{{ img.alt }}"
    />
  </a>
  {% endfor %}
</main>

<div class="dialog" id="image-modal">
  <dialog class="dialog__window" aria-labelledby="dialog-title">
    <button
      class="dialog__close"
      type="button"
      data-a11y-dialog-hide
      aria-label="Close image viewer"
    >
      &times;
    </button>

    <div class="dialog__content">
      <h1 class="dialog__title" id="dialog-title">Dialog Title</h1>
      <div class="dialog__image-wrapper">
        <img class="dialog__image" />
      </div>
    </div>
  </dialog>
</div>
