---
body: home
permalink: /
---

<header class="hero__wrapper">
    <img class="hero__img" src="/img/main-2.png" alt="Self Portrait of Nic Chan">
    <img class="hero__overlay" src="/img/main-overlay.png">
    <div class="hero__description-wrapper">
        <div class="hero__description-container">
            <h2 class="hero__description">Nic Chan is a Hong Kong based web developer and&nbsp;designer.</h2>
        </div>
    </div>
</header>

<main id="page">
    <div class="portfolio__wrapper">
        {% assign projects = site.projects | sort: 'date' | reverse %}
        {% for project in projects %}
            {% if project.featured %}
                <a class="portfolio__item" href="{{ project.permalink }}">
                    <img class="portfolio__img" src="/img/{{ project.img }}" alt="{{ project.title }} Website">
                    <div class="portfolio__caption">
                       <h3 class="portfolio__title">{{ project.title }}</h3>
                       <p class="portfolio__desc">{{ project.stack }}</p>
                    </div>
                </a>
            {% endif %}    
        {% endfor %}
    </div>        
    <div class="row testimonials__wrapper">
        <section class="text-block">
            <h2 class="testimonials__header">Testimonials</h2>
            {% for quote in site.data.testimonials %}
            <blockquote class="testimonials__blockquote">
                <p class="testimonials__text">{{ quote.quote }}</p>
                <cite class="testimonials__author">– {{ quote.source }}</cite>
            </blockquote>
            {% endfor %}
        </section>
    </div>
</main>
