<form class="contact-form" action="//formspree.io/nic@nicchan.me" method="POST">
  <div class="contact-form__group">
    <label class="contact-form__label" for="name">Name</label>
    <input type="text" class="contact-form__input" name="name" id="name" autocomplete="name" />
  </div>
  <div class="contact-form__group">
    <label class="contact-form__label" for="email">Email</label>
    <input
      type="email"
      class="contact-form__input"
      name="_replyto"
      id="email"
      autocomplete="email"
    />
  </div>
  <label class="contact-form__label" for="message">Message</label>
  <textarea
    name="message"
    id="message"
    class="contact-form__input"
    placeholder="Your message"
  ></textarea>
  <label for="gotcha" class="screenreader">Humans will ignore this</label>
  <input id="gotcha" type="text" name="_gotcha" style="display:none" />
  <input type="hidden" name="_next" value="/" />
  <input class="button" role="button" type="submit" value="Send" />
</form>
