<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <meta name="author" content="Nic Chan">
    
    <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>


    <link rel="shortcut icon" href="/img/favicon.png">
    <link rel="apple-touch-icon" href="/img/apple-touch-icon.png">

    <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Lato:400,400i,700/Playfair+Display:700i">

    <link rel="stylesheet" href="/css/all.min.css">
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
</head>
