.post__title {
  margin-bottom: 0;
}

.post__date {
  display: block;
  margin-top: 0;
  text-align: center;
}

.post__content {
  margin-top: $medium-margin;

  h2 {
    font-size: 1.5rem;
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 0;
  }

  h3:not([class]) {
    font-family: $body-copy;
    font-size: 1.25rem;
    text-align: left;
    margin-top: 3rem;
    margin-bottom: 0;
  }

  figure {
    margin: $large-margin 0;
  }
}

.blog main,
.post main {
  margin-bottom: $large-margin * 2;
}
