.post-callout {
  position: relative;
  margin: $large-margin 0;
  padding: 1rem;
  border: 1px solid $primary-color;
  border-radius: 0.5rem;
}

.post-callout__title {
  position: absolute;
  top: 0;
  left: 0.75rem;
  margin: 0;
  font-family: $body-copy;
  font-size: 1rem;
  padding: 0 0.25rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  background-color: $page-background-color;
  transform: translateY(-50%);
}

.post-callout__text {
  &:last-child {
    margin: 0;
  }
}

@media (min-width: 48em) {
  .post-callout {
    padding: 1.5rem;
  }

  .post-callout__title {
    left: 1.25rem;
  }
}
