.projects__heading {
  margin: $large-margin 0;
}

.projects__heading-link {
  display: inline-block;
  position: relative;
}


.projects__heading-arrow {
  font-family: $body-copy;
  font-style: normal;
  color: $primary-color;
}

.projects__img-wrapper {
  position: relative;
  margin: $medium-margin 0;

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(to bottom, transparentize($primary-color, 1), transparentize($primary-color, 0.2));
    z-index: 0;
  }
}

.projects__img {
  position: relative;
  max-width: 100%;
  display: block;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  max-height: 90vh;
  z-index: 1;
  
  &--full {
    max-height: none;
  }
}

.projects__caption {
  position: absolute;
  bottom: 0;
  left: $medium-margin;
  color: #fff;
  opacity: 0.4;
  font-weight: 700;
  font-size: 1.5rem;
  @include uppercase;
  display: none;
  
}

[class^="projects__col"] + [class^="projects__col"] {
  margin-top: $large-margin;
}

.pagination {
  margin-top: $large-margin;
  text-align: right;
}


@media #{$small} {
  
  .projects__caption {
    display: block;
  }
}

@media #{$medium} {
  
  .projects__col--half {
    lost-column: 1/2;
  }
  
  .projects__col--two-thirds {
    lost-column: 2/3
  }
  
  .projects__col--one-third {
    lost-column: 1/3
  }
  
  [class^="projects__col"]  + [class^="projects__col"] {
    margin-top: 0;
  }
  
  .projects__img-wrapper {
    margin: $large-margin 0;
  }
  
  .pagination {
    margin-top: $large-margin * 2;
  }

}


