.projects-hero__wrapper {
    padding-top: $large-margin;
    position: relative;
    min-height: 30%;
    padding-bottom: 50%;
}

.projects-hero__overlay {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(167,82,147,0.5) 0%,rgba(250,250,250,1) 100%);
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.projects-hero__overlay--scroll {
    opacity: 1;
}


.projects-hero__img {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    box-shadow: none;
}

.projects-heading__link {
    display: inline-block;
    position: relative;
}


.projects-heading__arrow {
    font-family: $body-copy;
    font-style: normal;
    color: $primary-color;
}

.projects__img-wrapper {
    margin: $medium-margin 0;
    position: relative;
}

.projects__img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    max-height: 90vh;
    
    &--full {
        max-height: none;
    }
}

.projects__caption {
    position: absolute;
    bottom: 0;
    left: $medium-margin;
    color: #fff;
    opacity: 0.4;
    font-weight: 700;
    font-size: 1.5rem;
    @extend .uppercase;
    display: none;
    
}

[class^="projects__col"] + [class^="projects__col"] {
    margin-top: $large-margin;
}

.pagination {
    margin-top: $large-margin;
    text-align: right;
}


@media #{$small} {
    
    .projects__caption {
        display: block;
    }
}

@media #{$medium} {
    
    .projects__col--half {
        lost-column: 1/2;
    }
    
    .projects__col--two-thirds {
        lost-column: 2/3
    }
    
    .projects__col--one-third {
        lost-column: 1/3
    }
    
    [class^="projects__col"]  + [class^="projects__col"] {
        margin-top: 0;
    }
    
    .projects__img-wrapper {
        margin: $large-margin 0;
    }
    
    .pagination {
        margin-top: $large-margin * 2;
    }

}


@media #{$xlarge} {
    
    .projects-hero__wrapper {
        padding-top: 0;
    }
    
}