.showcase__section {
  min-height: 100vh;
}

.showcase__text-wrapper {
  padding: 3rem 0;
  text-align: center;
}

.showcase__image-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30rem;

  &--intro {
    background-size: cover;
    background-position: center;
  }
}

.showcase__image {
  max-width: 90%;
  max-height: 90%;
  @include boxshadow;
}

.showcase__title {
  margin: 0 auto $medium-margin;
}

@media (min-width: 34em) {
  .showcase__intro {
    font-size: 2rem;
  }

  .showcase__title {
    font-size: 1.75rem;
  }
}

@media (min-width: 66em) {
  .showcase__section {
    position: relative;
    lost-flex-container: row;
  }

  .showcase__text-wrapper {
    lost-column: 1/2 2 0 flex;
    display: flex;
    align-items: center;
    padding: 5rem 0;
  }

  .showcase__image-wrapper {
    position: absolute;
    width: 50%;
    height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    opacity: 1;
    transform: translateZ(0);
    transition: opacity 0.5s ease;
    z-index: -1;

    &--intro {
      background-color: $dark-color;
      z-index: 1000;
    }

    &--js-enabled {
      position: fixed;
      opacity: 0;
    }

    &--active {
      opacity: 1;
      z-index: 0;
    }

    &--stuck {
      position: absolute;
      opacity: 1;
    }
  }

  .showcase__intro {
    margin-top: -3.5rem;
  }

  .showcase__image {
    width: 100%;
  }
}
