.tags__wrapper {
  text-align: center;
  line-height: 2;
  margin-bottom: $medium-margin - 0.25rem;
}

.tags__tag {
  display: inline-block;
  margin-bottom: 0.25rem;
  background-color: $secondary-color;
  color: $dark-color;
  border-radius: 1.5rem;
  padding: 0.1rem 0.8rem;
  white-space: nowrap;
}

.subheading + .tags__wrapper {
  margin-top: $medium-margin;
}

@media #{$medium} {
  .tags__wrapper {
    margin-bottom: $large-margin;
  }
}
