.topbar {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  top: 0;
  z-index: 2;
  
  .home & {
    background: $dark-color;
  }
}

.topbar__ul {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-padding-start: 0;
  margin: 0.25rem;
  text-align: center;
  font-size: 0.875rem;
}

.topbar__li {
  display: inline;
  font-weight: 700;
  padding: 0 0.5em;
}

.topbar__a {
  text-decoration: none;
  color: $primary-color;
  @include uppercase;
  
  &:hover, &:active, &:focus {
    color: $dark-color;
  }
}

.topbar--active {
  color: $dark-color;
}


.projects .topbar__a,
.home .topbar__a {
  color: #fff; 
  opacity: 0.8;
  
  &:hover, &:active, &:focus {
    color: #fff;
    opacity: 1;
  }
  
  &--active {
    opacity: 1;
  }
}


@media #{$small} {
  
  .topbar {
    left: auto;
    background: none;
    
    .home & {
      background: none;
    }
  }
  
  .topbar__ul {
    text-align: left;
    margin: 1rem 0.7rem 1rem 0;
    font-size: 1rem;
  }
  
  .topbar__li {
    padding: 0 1rem;
  }
}


@media (min-width: 66em){
  
 .home .topbar__a {
    color: $primary-color; 
    opacity: 1;
    
    &:hover, &:active, &:focus {
      color: $dark-color;
    }
  }
  
  .topbar--active {
    color: $dark-color;
  }
}