.topbar {
  background-color: $page-background-color;
  z-index: 2;
}

.topbar__list {
  width: 100%;
  margin: 0;
  padding: 0.5rem 2.5%;
  text-align: center;
  font-size: 0.875rem;
}

.topbar__item {
  display: inline-block;
  padding: 0.25rem 1rem;
  font-weight: 700;
}

.topbar__link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: $primary-color;
  @include uppercase;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
    height: 2px;
    background-color: $dark-color;
    transform: scaleX(0);
    transition: all 0.3s ease;
  }

  &:hover,
  &:active,
  &:focus,
  &--active {
    color: $dark-color;

    &::after {
      transform: scaleX(1);
    }
  }
}

@media (min-width: 66em) {
  .topbar {
    display: flex;
    align-items: center;
    height: 3.5rem;
  }

  .topbar__list {
    text-align: left;
    font-size: 1rem;
    padding-left: calc(2.5% - 1rem);
  }
}
