@keyframes fade {
	from {
	    opacity: 0.3;
	}
}

#page {
    animation: fade 1s ease both;
}

@keyframes widthOpacity {
	from {
		transform: scaleX(0);
		opacity: 0;
	}
	to {
		transform: scaleX(1);
		opacity: 1;
	}
}

@keyframes fadeInUp {
	from {
		transform: translate3d(0, 0.5rem, 0);
		opacity: 0;
	}
	to {
		transform: translate3d(0, 0, 0);
		opacity: 1;
	}
}