---
layout: default
body: about
---

<main class="no-hero" id="main" tabindex="-1">
  <div class="row row--small">
    <section>
      <h1>About Me</h1>
      <p>{{ page.about }}</p>
    </section>
    <hr />
    <section>
      <h2 class="resume__heading">Resume</h2>
      <h3 class="subheading">Related Experience</h3>
      {% for exp in page.experience %}
      <h4 class="resume__point">
        <span class="resume__institution">{{ exp.institution }}</span>
        <span class="resume__title"> {{ exp.title }}</span>
        <span class="resume__bullet">&bull;</span>
        <span class="resume__date">{{ exp.date }}</span>
      </h4>
      <ul class="resume__description">
        {% for desc in exp.description %}
        <li>{{ desc.li }}</li>
        {% endfor %} {% if exp.link != nil %}
        <li>
          <a class="resume__link" href="{{ exp.link }}"
            >View Related Case Study &rarr;</a
          >
        </li>
        {% endif %}
      </ul>
      {% endfor %}
      <h3 class="subheading">Education</h3>
      <h4 class="resume__point">
        <span class="resume__institution">Scripps College</span>
        <span class="resume__title">B.A. in Art, Minor in Chinese</span>
        <span class="resume__bullet" aria-hidden="true">&bull;</span>
        <span class="resume__date">May 2014</span>
      </h4>
      <ul class="resume__description">
        <li>Graduated Magna Cum Laude</li>
        <li>
          Received the Class of ’42 Innovation Award for senior thesis
          exhibition, a digital poster campaign.
        </li>
      </ul>
      <h3 class="subheading">Skills</h3>
      <ul class="tags__wrapper">
        {% for skills in page.skills %}
        <li class="tags__tag">{{ skills }}</li>
        {% endfor %}
      </ul>
      <h3 class="subheading">Connect</h3>
      <ul class="social">
        <li class="social__item">
          <a class="social__link" href="https://github.com/nchan0154">
            <svg class="social__icon" viewBox="0 0 16 16" aria-hidden="true">
              <path
                d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59 0.4 0.07 0.55-0.17 0.55-0.38 0-0.19-0.01-0.82-0.01-1.49-2.01 0.37-2.53-0.49-2.69-0.94-0.09-0.23-0.48-0.94-0.82-1.13-0.28-0.15-0.68-0.52-0.01-0.53 0.63-0.01 1.08 0.58 1.23 0.82 0.72 1.21 1.87 0.87 2.33 0.66 0.07-0.52 0.28-0.87 0.51-1.07-1.78-0.2-3.64-0.89-3.64-3.95 0-0.87 0.31-1.59 0.82-2.15-0.08-0.2-0.36-1.02 0.08-2.12 0 0 0.67-0.21 2.2 0.82 0.64-0.18 1.32-0.27 2-0.27 0.68 0 1.36 0.09 2 0.27 1.53-1.04 2.2-0.82 2.2-0.82 0.44 1.1 0.16 1.92 0.08 2.12 0.51 0.56 0.82 1.27 0.82 2.15 0 3.07-1.87 3.75-3.65 3.95 0.29 0.25 0.54 0.73 0.54 1.48 0 1.07-0.01 1.93-0.01 2.2 0 0.21 0.15 0.46 0.55 0.38C13.71 14.53 16 11.53 16 8 16 3.58 12.42 0 8 0z"
              ></path>
            </svg>
            <span class="social__text">
              nchan0154 on Github
            </span>
          </a>
        </li>
        <li class="social__item">
          <a class="social__link" href="https://codepen.io/nchan0154/">
            <svg
              class="social__icon"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 32 32"
            >
              <path
                d="M29.555 11.501l-14-9.333c-0.336-0.224-0.774-0.224-1.109 0l-14 9.333c-0.278 0.185-0.445 0.498-0.445 0.832v9.333c0 0.334 0.167 0.647 0.445 0.832l14 9.333c0.168 0.112 0.361 0.168 0.555 0.168s0.387-0.056 0.555-0.168l14-9.333c0.278-0.185 0.445-0.498 0.445-0.832v-9.333c0-0.334-0.167-0.647-0.445-0.832zM15 20.465l-5.197-3.465 5.197-3.465 5.197 3.465-5.197 3.465zM16 11.798v-6.93l11.197 7.465-5.197 3.465-6-4zM14 11.798l-6 4-5.197-3.465 11.197-7.465v6.93zM6.197 17l-4.197 2.798v-5.596l4.197 2.798zM8 18.202l6 4v6.93l-11.197-7.465 5.197-3.465zM16 22.202l6-4 5.197 3.465-11.197 7.465v-6.93zM23.803 17l4.197-2.798v5.596l-4.197-2.798z"
              ></path>
            </svg>
            <span class="social__text">
              nchan0154 on Codepen
            </span>
          </a>
        </li>
      </ul>
      <a class="button" role="button" href="/img/NicChan-resume.pdf">
        Download resume
      </a>
    </section>
    <hr />
    <section>
      <h2 class="testimonials__header">Testimonials</h2>
      {% for quote in site.data.testimonials %}
      <blockquote class="testimonials__blockquote">
        <p class="testimonials__text">{{ quote.quote }}</p>
        <cite class="testimonials__author">– {{ quote.source }}</cite>
      </blockquote>
      {% endfor %}
    </section>
  </div>
</main>
