---
layout: default
body: blog
---
<main class="no-hero" id="main" tabindex="-1">
  <div class="row row--small">
    <h1 class="screenreader">All Blog Posts</h1>
    {% assign postCount = '0' %}
    {% capture totalPost %}{{ site.posts.size | plus: '0' }}{% endcapture %}
    {% for post in site.posts %}
      {% capture postCount %}{{ postCount | plus: '1' }}{% endcapture %}
      <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
        <h2 class="post__title" itemprop="name headline">
          <a href="{{ post.url }}">{{ post.title }}</a>
        </h2>
        <span class="post__date subheading"><time datetime="{{ post.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ post.date | date: "%-d %b %Y" }}</time></span>
        <p class="post__content">{{ post.content | strip_html | truncatewords: 60 }}</p>
      </article>
      {% if postCount != totalPost %}
        <hr>
      {% endif %}
    {% endfor %}
  </div>
</main>
