---
layout: default
body: post
---
<main class="no-hero" id="main" tabindex="-1">
  <div class="row row--small">
    <article class="post" itemscope="" itemtype="http://schema.org/BlogPosting">
      <h1 class="post__title" itemprop="name headline">
        {{ page.title }}
      </h1>
      <span class="post__date subheading"><time datetime="{{ page.date | date: "%Y-%m-%d" }}" itemprop="datePublished">{{ page.date | date: "%-d %b %Y" }}</time></span>
      <div class="post__content">{{ content }}</div>
    </article>
      <hr class="hr--wide">
      <ul class="webmention-counts">
        <li class="webmention-counts__item">{% webmention_count page.url likes %} Likes</li>
        <li class="webmention-counts__item">{% webmention_count page.url reposts %} Shares</li>
      </ul>
      {% webmentions page.url %}
  </div>
</main>
{% webmentions_js %}
