---
layout: default
---

<header
  id="main"
  tabindex="-1"
  class="projects-hero__wrapper"
  style="background-color: #{{ page.color }}"
>
  <div class="row">
    <img
      class="projects-hero__img"
      src="/img/{{ page.img }}"
      alt="{{ page.title }} Homepage"
    />
  </div>
  <div class="projects-hero__overlay"></div>
</header>

<main>
  <header class="row row--small">
    {% if page.link %}
    <h1 class="projects__heading">
      <a class="projects__heading-link" href="{{ page.link }}"
        >{{ page.title }}&nbsp;<span class="projects__heading-arrow"
          >&rarr;</span
        ></a
      >
    </h1>
    {% else %}
    <h1 class="projects__heading">{{ page.title }}</h1>
    {% endif %}

    <ul class="tags__wrapper">
      {% for technology in page.technology %}
      <li class="tags__tag">{{ technology }}</li>
      {% endfor %}
    </ul>
  </header>

  <section class="row row--small">
    {% if page.brief %}
    <h2 class="subheading">The Brief</h2>
    <p>{{ page.brief }}</p>
    {% endif %}
    <h2 class="subheading">The Solution</h2>
    <p>
      {{ page.solution }}
    </p>
  </section>

  {{ content }}

  {% capture the_collection %}{{ page.collection }}{% endcapture %} {% if
  page.collection %} {% assign document = site[the_collection] | sort: 'date' |
  reverse %} {% endif %} {% for links in document %} {% if links.title ==
  page.title %} {% if forloop.last %} {% assign next = document[0] %} {% assign
  nexturl = next.url %} {% assign nexttitle = next.title %} {% else %} {% assign
  next = document[forloop.index] %} {% assign nexturl = next.url %} {% assign
  nexttitle = next.title %} {% endif%} {% endif %} {% assign prev = links %} {%
  endfor %} {% if nexturl %}
  <div class="row row--small pagination">
    {% if nexturl %}Next Project:
    <a href="{{ nexturl }}" class="next"> {{ nexttitle }} <span aria-hidden="true">&nbsp;&rarr;</span></a>{%
    endif %}
  </div>
  {% endif %}
</main>
